/* ----- Title slide ----- */

.title-slide {
  background-image: url("../style/MSU-logo.png");
  background-position: 90% 9%;
  background-size: 300px;
  background-color: #1c4e9dff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
  color: white;
}

/* H1 fonts */
.title-slide h1 {
  padding-top: 250px;
  font-weight: normal;
  font-size: 70px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}


/* H2 fonts */
.title-slide h2 {
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
  display: none;
}
