a, a > code {
  color: #00533C;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #f9a25bff;
  color: #fab80aff;
  text-shadow: 0 0 5px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: black;
}

/* No slide count */
.inverse .remark-slide-number {
  display: none;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~~~~~~~~~~*/
/* Additions */
/* Thanks to Joseph Casillas */
/*~~~~~~~~~~~~~~*/

/* Title slide */

.title-slide {
  background-position: 9% 9%;
  background-size: 150px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* H1 fonts */
.title-slide h1 {
  color: #008c5bff;
  padding-top: 250px;
  font-weight: normal;
  font-size: 50px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}


/* H2 fonts */
.title-slide h2 {
  color: #383334ff;
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
  display: none;
}

/*~~~~~~~~~~~~~~~~~~*/
/* SECTION DIVIDERS */
/*~~~~~~~~~~~~~~~~~~*/

/* section divider green */
.title-slide-section-green {
  background-color: #00533C;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider green H1 fonts */
.title-slide-section-green h1, .title-slide-section-green h2, .title-slide-section-green h3, .title-slide-section-green p {
  color: #fff;
}

/* section divider grey */
.title-slide-section-grey {
  background-color: #515151;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider grey H1 fonts */
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~*/
/* FINAL SLIDE      */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #272822;
  color: #fff;
  padding-left: 100px;
  text-shadow: 0 0 20px #333;
  text-align: center;
}

.title-slide-final h1 {
  color: #00533C;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* Color adjustments for text */

/* Make bold syntax compile to CCA */
strong {
  color: #f58e29ff;
}

.MSUblue strong {
  color: #1c4e9dff;
}

.MSUyellow strong {
  color: #fab80aff;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* Color adjustments to headers */
h1 {
  color: #008c5bff;
}

h2 {
  color: #008c5bff;
}

h3 {
  color: #bcbdc2ff;
}

/* Font size tags */
.big {
  font-size: 1.5em;
}

/* ru blockquote */
ru-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #00533C;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.title-slide-section-grey p {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Extra */
/*~~~~~~~~~~~~~~~~~~~~*/

.large { font-size: 130% }

.small-latex {
  font-size: 85%;
}

.pull-left-I {
  float: left;
  width: 45%;
}
.pull-right-I {
  float: right;
  width: 55%;
}

.pull-left-II {
  float: left;
  width: 65%;
}
.pull-right-II {
  float: right;
  width: 35%;
}

.pull-left-III {
  float: left;
  width: 37%;
}
.pull-right-III {
  float: right;
  width: 63%;
}

.pull-left-IV {
  float: left;
  width: 51%;
}
.pull-right-IV {
  float: right;
  width: 49%;
}

.pull-left-V {
  float: left;
  width: 40%;
}
.pull-right-V {
  float: right;
  width: 60%;
}

.pull-left-VI {
  float: left;
  width: 35%;
}
.pull-right-VI {
  float: right;
  width: 65%;
}

.footnote-right {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
  right: 0;
  color: black;
}

.center-vertical {
  padding: 150px 0;
}

.center-vertical-100 {
  padding: 100px 0;
}

.center-vertical-50 {
  padding: 50px 0;
}

.pull-left-A {
  margin-top: -50px;
  float: left;
  width: 57%;
}
.pull-right-A {
  margin-top: -50px;
  float: right;
  width: 37%;
}

.no-margin{
  margin-top: 0px;
  padding: 20px;
}

.no-margin .remark-slide-number {
  display:none
}

.remark-slide-number{
  display:none
}

.vl {
  border-left: 2px solid gray;
  height: 655px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10px;
}
