<!DOCTYPE html>
<html lang="en">

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            displayMath: [['$$','$$']],
            inlineMath: [['$','$']],
        },
    });
</script>

{% include structure/head.html %}

<body>

{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}

{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

<div class="col-md-12 col-lg-10 pb-4 content">
    {{ content }}
</div>

</body>

</html>
